<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>ResK</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>${SWIFT_MODULE_NAME}.ImageWindowController</string>
	<key>RKEditedTypes</key>
	<array>
		<string>PICT</string>
		<string>PNG </string>
		<string>cicn</string>
		<string>ppat</string>
		<string>icns</string>
		<string>ICON</string>
		<string>SICN</string>
		<string>ICN#</string>
		<string>ics#</string>
		<string>icm#</string>
		<string>icl4</string>
		<string>ics4</string>
		<string>icm4</string>
		<string>icl8</string>
		<string>ics8</string>
		<string>icm8</string>
		<string>CURS</string>
		<string>PAT </string>
		<string>PAT#</string>
	</array>
</dict>
</plist>
